.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    max-width: 880px;
    padding-top: 51px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
}

.card__title {
    padding: 20px 25px 20px 25px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__heart {
    padding-right: 20px;
    background-color: transparent;
    border: none;
    margin: 0;
}

.card__heart:hover {
    opacity: 60%;
}

.card__title_flex {
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width:800px) {

    .card__image {    
    width: 372px;
    height: 372px;
    }

    .cards {
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:320px) {    
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 200px;
    }
}