.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  max-width: 880px;
  padding-top: 51px;
}

@media screen and (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 783px;
  }
}

@media screen and (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
