.footer {
  max-width: 880px;
  color: #545454;
  padding: 67px 0 60px 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__info {
  margin: 0;
}

@media screen and (max-width: 550px) {
  .footer {
    max-width: 550px;
    font-size: 14px;
    line-height: 17px;
    padding: 48px 19px 36px 19px;
    box-sizing: border-box;
  }
}
