.header {
  max-width: 880px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  max-width: 178px;
  padding-bottom: 40px;
}

@media screen and (max-width: 800px) {
  .header {
    max-width: 800px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    max-width: 550px;
    padding-top: 28px;
  }

  .header__logo {
    max-width: 126px;
  }

  .header__photo {
    max-width: 126px;
    max-height: 24px;
  }
}
