.page {
  background-color: black;
  color: white;
  padding: 0 20px 0 20px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .page {
    max-width: 760px;
  }
}

@media screen and (max-width: 550px) {
  .page {
    max-width: 512px;
    padding: 0;
  }
}
