.page {
    background-color: black;
    color: white;
}

.page__content {
    padding: 0 20px 0 20px;
}

@media screen and (max-width:320px) {    
    .page__content {
        padding: 0 19px 0 19px;
    }
}