.profile {
  display: flex;
  max-width: 880px;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  max-width: 500px;
  margin-right: auto;
  padding: 25px;
}

.profile__photo {
  border-radius: 50%;
  max-width: 120px;
}

.profile__name {
  color: #ffffff;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__name-container {
  display: flex;
  align-items: center;
  max-width: 450px;
}

.profile__subname {
  color: #ffffff;
  margin: 0;
  padding-top: 7px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__editbutton {
  margin: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  background-color: transparent;
  cursor: pointer;
}

.profile__editbutton:hover {
  opacity: 60%;
}

.profile__addbutton {
  border-style: solid;
  border-color: #ffffff;
  border-radius: 2px;
  border-width: 2px;
  width: 150px;
  height: 50px;
  place-items: center;
  background-color: transparent;
  cursor: pointer;
}

.profile__addbutton:hover {
  opacity: 60%;
}

@media screen and (max-width: 800px) {
  .profile {
    max-width: 760px;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    margin-right: 0;
  }

  .profile__subname {
    text-align: center;
  }

  .profile__addbutton {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    max-width: 550px;
  }

  .profile__info {
    max-width: 100%;
  }

  .profile__photo {
    max-width: 120px;
  }

  .profile__name-container {
    justify-content: space-between;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
  }

  .profile__subname {
    font-size: 14px;
    line-height: 16.94px;
  }
}
