.profile {
  display: grid;
  max-width: 880px;
  grid-template-columns: max-content 1fr 150px;
  justify-content: space-between;
  padding-top: 40px;
}

.profile__info {
  margin-right: auto;
  padding: 25px;
}

.profile__photo {
  border-radius: 50%;
  max-width: 120px;
}

.profile__name {
  color: #ffffff;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__name-container {
  display: flex;
  align-items: center;
  max-width: 450px;
}

.profile__subname {
  color: #ffffff;
  margin: 0;
  padding-top: 7px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.profile__edit_button {
  margin: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  background-color: transparent;
  cursor: pointer;
}

.profile__edit_button:hover {
  opacity: 60%;
}

.profile__edit_button-vector {
  width: 10px;
  height: 10px;
}

.profile__add_button {
  border-style: solid;
  border-color: #ffffff;
  border-radius: 2px;
  border-width: 2px;
  width: 100%;
  height: 50px;
  display: grid;
  place-items: center;
  background-color: transparent;
  cursor: pointer;
}

.profile__add_button:hover {
  opacity: 60%;
}

.profile__add_button-vector {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 550px) {
  .profile {
    max-width: 320px;
    display: block;
    margin: 0 auto;
    padding: 42px 0 0 0;
  }

  .profile__info {
    padding: 25px 0 0 0;
  }

  .profile__photo {
    max-width: 120px;
  }

  .profile__name-container {
    justify-content: space-between;
  }

}
