@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
    background-color: black;
    color: white;
}

.page__content {
    margin: 0 200px 0 200px;
}

.header {
    max-width: 880px;
    padding-top: 45px;
}

.header__logo {
    max-height: 120px;
    max-width: 120px;
}

.header__line {
    max-width: 100%;
    border: 1px solid #545454;
}

.profile {
    display: flex;
    max-width: 880px;
    height: 120px;
    justify-content: space-between;
    padding-top: 40px;
}

.profile__info {
    margin-right: auto;
    padding-left: 30px;
}

.profile__photo {
    border-radius: 50%;
}

.profile__name {
    color: #ffffff;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 18px;
}

.profile__name_flex {
    display: flex;
    align-items: center;
}

.profile__subname {
    color: #ffffff;
    margin: 0;
    padding-top: 7px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.profile__edit_button {
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    background-color:transparent;
}

.profile__edit_button:hover {
    opacity: 60%;
}

.profile__edit_button-vector {
    Width: 10px;
    Height: 10px;
}

.profile__add_button {
    border-style: solid;
    border-color: #ffffff;
    Width: 150px;
    Height: 50px;
    display: grid;
    place-items: center;
    background-color:transparent;
}

.profile__add_button:hover {
    opacity: 60%;
}

.profile__add_button-vector {
    width: 22px;
    height: 22px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    max-width: 880px;
    padding-top: 51px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    width: 282px;
    height: 282px;
}

.card__title {
    padding: 20px 25px 20px 25px;
    margin: 0;
}

.card__heart {
    padding-right: 20px;
    background-color: transparent;
    border: none;
    margin: 0;
}

.card__heart:hover {
    opacity: 60%;
}

.card__title_flex {
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.footer_copyright {
    color: #ffffff;
    padding: 67px 0 60px 0;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}